
:root {
    --red:red;
    --white:white;
    --gray:gray;
    --purple:#EDEDFC;
    --pink:#FCEDEE;
    --disable:#C6C6C6;
    --today:#605CF7;
    --hover:#80A0C3;
}


.table.table-bordered td, .table.table-bordered th {
    border:1px solid var(--gray);
}
table {
    background:#FDFDFD;
    position: relative;
    border-collapse: collapse;
}
table.itable-hover tr:hover th.product-col{
    background-color:var(--hover)!important;
    color:var(--white);
}
table tbody tr td:hover:not(.date-weekend) {
    border-width: 2px!important;
}
td,
th {
    padding: 0.25em;
}

.date-weekend-header {
    /*color: var(--red);*/
}
.date-weekend-header.date-sunday {
    background-color: var(--purple);
}
.date-weekend-header.date-saturday{
    background-color: var(--pink);
}
.date-weekend {
    background: var(--disable);
}
.date-today{
    color:white;
    background-color: var(--today)!important;
}

th, .date-col-header {
    font-family:'Courier New', Monospace;
    font-weight: normal;
}

thead th, .date-col-header {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
    border-right: 1px solid var(--gray)!important;
    background:var(--white);
}
#date-col-header-1{
    top:30px;
}
#date-col-header-2{
    top:60px;
}
tbody th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 0;
    background: var(--white);
    border-right: 1px solid var(--gray)!important;
}
.table:not(.table-sm) thead th {
    background: var(--white);
}
thead th:nth-child(-n+4) {
    left: 0;
    z-index: 1;
}

.table-scroll * {
    /*font-family: HahmletLight;*/
}

.table:not(.table-sm):not(.table-md):not(.dataTable) td {
    text-align: center;
    height:45px;
}

.table:not(.table-sm):not(.table-md):not(.dataTable) tbody td {
    cursor: pointer;
}

.table:not(.table-sm):not(.table-md):not(.dataTable) th {
    height:30px;
}

.row-header {
    background-color:var(--white)!important;
    text-align: center;
}

.table-scroll{
    width:100%;
    max-width:100%;
    overflow:scroll;
}
.date-col-header {
    height:30px!important;
    min-width: 50px;
    text-align: center;
    font-size: 90%;
}
